*.fastq.gzip filter=lfs diff=lfs merge=lfs -text
fanc/test/test_matrix/test_juicer.hic filter=lfs diff=lfs merge=lfs -text
examples/bwa-index/hg19_chr18_19.fa.amb filter=lfs diff=lfs merge=lfs -text
examples/bwa-index/hg19_chr18_19.fa.ann filter=lfs diff=lfs merge=lfs -text
examples/bwa-index/hg19_chr18_19.fa.bwt filter=lfs diff=lfs merge=lfs -text
examples/bwa-index/hg19_chr18_19.fa.pac filter=lfs diff=lfs merge=lfs -text
examples/bwa-index/hg19_chr18_19.fa.sa filter=lfs diff=lfs merge=lfs -text
examples/output_fast/pairs/fanc_example.pairs filter=lfs diff=lfs merge=lfs -text
examples/output_fast/sam/SRR4271982_chr18_19_1_sort_sort.bam filter=lfs diff=lfs merge=lfs -text
examples/test.bam filter=lfs diff=lfs merge=lfs -text
examples/test.pairs filter=lfs diff=lfs merge=lfs -text
examples/output/pairs/SRR4271982_chr18_19.pairs filter=lfs diff=lfs merge=lfs -text
examples/output_fast/sam/SRR4271982_chr18_19_1.bam filter=lfs diff=lfs merge=lfs -text
examples/output_fast/sam/SRR4271982_chr18_19_2_sort.bam filter=lfs diff=lfs merge=lfs -text
examples/output_fast/sam/SRR4271982_chr18_19_2_sort_sort.bam filter=lfs diff=lfs merge=lfs -text
examples/hg19_chr18_19.fa filter=lfs diff=lfs merge=lfs -text
examples/output/pairs/fanc_example.pairs filter=lfs diff=lfs merge=lfs -text
examples/output/sam/SRR4271982_chr18_19_1_sort.bam filter=lfs diff=lfs merge=lfs -text
examples/output/sam/SRR4271982_chr18_19_2_sort.bam filter=lfs diff=lfs merge=lfs -text
examples/output/sam/SRR4271982_chr18_19_1.bam filter=lfs diff=lfs merge=lfs -text
examples/output/sam/SRR4271982_chr18_19_2.bam filter=lfs diff=lfs merge=lfs -text
examples/output_fast/sam/SRR4271982_chr18_19_1_sort.bam filter=lfs diff=lfs merge=lfs -text
fanc/test/test_matrix/test_cooler.hic filter=lfs diff=lfs merge=lfs -text
